@charset "UTF-8";

<style>
		#container {
			width:960px;
			margin:0 auto;
			text-align:center;
		}
		.tab {
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		/* Float the list items side by side */
		.tab li {
			float: left;
			width: 50%;
			text-align: center;
			border-top: 1px solid #F2F2F2;
			border-right: 1px solid #F0F0F0;
			background-color: #F0F0F0;
		}
		/* Style the links inside the list items */
		.tab li a {
			display: inline-block;
			color: #000000;
			text-align: center;
			text-decoration: none;
			padding: 14px 16px;
			font-size: 17px;
			transition:0.3s;
		}
		/* Style the tab content */
		.tabcontent {
			display: none;
			background-color:rgb(250,250,250);
			padding: 6px 12px;
			text-align: center;
			color:#fff;
		}
		ul.tab li.current {
			/* background-color: rgb(0,154,200);
			border: 2px solid #3498db; */
			background-color: #FAFAFA;
			color: #FFFFFF;
		}
		.tabcontent.current {
			display: block;
		}

 .box h1{
	color: #3498db;
 	text-transform: uppercase; 
	font-weight: 500;
	
} 
		
.box input[type = "text"], .box input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type="password"]:focus{
	width: 300px;
	border-color: #3498db;
}

.box input[type="submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	
}

.box input[type="submit"]:hover{
	background: #2ecc71;
	
}

.box .instant_text {
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
}

.select_button {
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 50px 10px;
	width: 40%;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
	
}

.select_button:hover{
	background: #2ecc71;
}


	</style>
